
body{
    font-family: 'Montserrat', sans-serif;
     background-color: #fff;
}

video{
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 1;
    background-color: black;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100vh;
    background-color: black;
    opacity: 0.8;
    z-index:10;
}

.overlay .container{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 15;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay .container h1{
    font-size: 3rem;
}

.overlay .container a{
    text-decoration: none;
    color: greenyellow;
    padding: 5px 15px;
    border: 1px solid greenyellow;
    margin: 1rem;
}

section{
    padding: 5rem 5.5rem;
}

main .lagos h2{
    margin-bottom: 1rem;
}

/*Model*/
main .model{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f4f4f4;
}

main .model .box{
    width: 45%;
}

main .model .box img{
    width: 70%;
}

main .model .box h2{
    text-transform: uppercase;
    margin-bottom: 1rem;
}

main .model .box span{
    color: #ac7c66;
}

main .model .box p, .slider .container p{
    margin-bottom: 2rem;
}

main .model .box a, .slider .container a{
    text-decoration: none;
    color: #ac7c66;
    padding: 5px 15px;
    border: 1px solid #ac7c66;
}

/*Gospel*/
.gospel{
    background-image: url("../images/model1.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position-y: 15%;
    background-position-x: 30%;
    padding: 10rem 5.5rem;
}

/*Slider*/
.slider{
    display: flex;
}

.slider .container{
    width: 35%;
}

.slider .container .inner-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider .container .inner-container .button{
    color: #ac7c66;
    font-size: 20px;
    margin: 15px;
    cursor: pointer;
}

.slider .container h2{
    color: #ac7c66;
    margin-bottom: 1rem;
}

.slider .container img{
    width: 300px;
    height: 350px;
}

.slider .container .button-container{
    display: flex;
    justify-content: center;
}

/*Larger Screen*/
@media screen and (max-width:1100px) {
    /*Slider*/
    .slider .container{
        width: 50%;
    }
}

/*Tablet View*/
@media screen and (max-width:800px) {

    /*Header*/
    .overlay .container{
        padding: 0 2.5rem;
    }

    /*Model*/
    .model{
        flex-direction: column-reverse;
        padding:5rem 2.5rem;
    }

    main .model .box{
        width: 100%;
    }
    
    /*Gospel*/
    .gospel{
        background-position-x: 50%;
        color: #f4f4f4;
    }
    
    /*Slider*/
    .slider{
        flex-direction: column;
        padding: 5rem 2.5rem;
    }

    .slider .container{
        width: 100%;
    }

}

